{
    "_description":{
	"paths": "Locations for output directory (where hipo and ccdb copies are stored), output csv name, slurm job output, where final CSV is stored",
    	"scripts": "Executable scripts used for reconstruction and analysis",
    	"calibration": "Set up the sector/module to be aligned, hipo file with the alignment dataset",
	"reco": "Information needed for creating a copy of the ccdb, the ccdb variation, running reconstruction",
    	"optimization": "Bayesian optimization settings, settings for restarting optimization"
    }
    "paths": {
    	"LOG_DIR": "/hpc/group/vossenlab/cmp115/AIDE/CLAS12-RICH-Align/log/",
    	"CSV_DIR": "OUTDIR",
    	"OUTPUT_DIR": "/cwork/cmp115/AIDE/CLAS12-RICH-Align/alignment_run_test",
    	"OUTPUT_NAME": "rich_pimatching_alignment_test",
    },
    "scripts": {
    	"RECO_SCRIPT_NAME": "runContainerReconstructionConfig.sh",
       	"ANA_SCRIPT_NAME": "runObjectiveCalcPionMatchingSeparated.py"
    },
    "calibration": {
    	"SECTOR": 1,
        "MODULE": 2,
        "HIPO_FILE": "/cwork/cmp115/AIDE/CLAS12-RICH-Align/dataset/skim_sector1_RGK_threeruns_skim25k.hipo"
    },
    "reco": {
    	"VARIATION": "rgk_spring2024",
    	"CCDB_USERNAME": "cpecar"
    	"CCDB_FILE": "/hpc/group/vossenlab/cmp115/AIDE/CLAS12-RICH-Align/ccdb_rgk_spring2024.sqlite",
    	"YAML_FILE": "/hpc/group/vossenlab/cmp115/AIDE/CLAS12-RICH-Align/rich/yaml/rich_rgk_spring2024.yaml",
    	"INIT_ALIGN_FILE": "/hpc/group/vossenlab/cmp115/AIDE/CLAS12-RICH-Align/rich/tables/rich_alignment_module2_BOglobal.dat"
    },
    "optimization": {
        "METRIC_NAME": "pi_matching",
        "load_previous_trials": 0,
    	"n_sobol": 300,
    	"n_mobo": 2160,
    	"n_batch_sobol": 100,
    	"n_batch_mobo": 27
    }
}
