{
    "parameters": {
        "dz_302_1": {
            "element": "value",
            "units": "",
            "lower": "-5",
            "upper": "5"
        },
        "dthx_302_1": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dthy_302_1": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dz_302_5": {
            "element": "value",
            "units": "",
            "lower": "-5",
            "upper": "5"
        },
        "dthx_302_5": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dthy_302_5": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dz_302_2": {
            "element": "value",
            "units": "",
            "lower": "-5",
            "upper": "5"
        },
        "dthx_302_2": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dthy_302_2": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dz_201_0": {
            "element": "value",
            "units": "",
            "lower": "-5",
            "upper": "5"
        },
        "dthy_201_0": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "10.0"
        },
        "dthx_201_0": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "10.0"
        },
        "dz_202_0": {
            "element": "value",
            "units": "",
            "lower": "-5",
            "upper": "5"
        },
        "dthy_202_0": {
            "element": "value",
            "units": "",
            "lower": "-10.0",
            "upper": "10.0"
        },
        "dthx_202_0": {
            "element": "value",
            "units": "",
            "lower": "-10.0",
            "upper": "10.0"
        },
        "dz_301_1": {
            "element": "value",
            "units": "",
            "lower": "-5",
            "upper": "5"
        },
        "dthx_301_1": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dthy_301_1": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dz_301_4": {
            "element": "value",
            "units": "",
            "lower": "-5",
            "upper": "5"
        },
        "dthx_301_4": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dthy_301_4": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dz_301_5": {
            "element": "value",
            "units": "",
            "lower": "-5",
            "upper": "5"
        },
        "dthx_301_5": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dthy_301_5": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dz_301_6": {
            "element": "value",
            "units": "",
            "lower": "-5",
            "upper": "5"
        },
        "dthx_301_6": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dthy_301_6": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dz_301_7": {
            "element": "value",
            "units": "",
            "lower": "-5",
            "upper": "5"
        },
        "dthx_301_7": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dthy_301_7": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dz_302_8": {
            "element": "value",
            "units": "",
            "lower": "-5",
            "upper": "5"
        },
        "dthx_302_8": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dthy_302_8": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dz_302_9": {
            "element": "value",
            "units": "",
            "lower": "-5",
            "upper": "5"
        },
        "dthx_302_9": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dthy_302_9": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dz_302_10": {
            "element": "value",
            "units": "",
            "lower": "-5",
            "upper": "5"
        },
        "dthx_302_10": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dthy_302_10": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dz_302_3": {
            "element": "value",
            "units": "",
            "lower": "-5",
            "upper": "5"
        },
        "dthx_302_3": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dthy_302_3": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dz_302_6": {
            "element": "value",
            "units": "",
            "lower": "-5",
            "upper": "5"
        },
        "dthx_302_6": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dthy_302_6": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dz_302_7": {
            "element": "value",
            "units": "",
            "lower": "-5",
            "upper": "5"
        },
        "dthx_302_7": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dthy_302_7": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dz_302_4": {
            "element": "value",
            "units": "",
            "lower": "-5",
            "upper": "5"
        },
        "dthx_302_4": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dthy_302_4": {
            "element": "value",
            "units": "",
            "lower": "-15.0",
            "upper": "15.0"
        },
        "dz_203_0": {
            "element": "value",
            "units": "",
            "lower": "-5",
            "upper": "5"
        },
        "dthy_203_0": {
            "element": "value",
            "units": "",
            "lower": "-10.0",
            "upper": "10.0"
        },
        "dthx_203_0": {
            "element": "value",
            "units": "",
            "lower": "-10.0",
            "upper": "10.0"
        }


    }
}