{
    "parameters": {
        "dx_global_0": {
                "element": "value",
                "units": "",
                "lower": "-5.0",
                "upper": "5.0"
        },
        "dy_global_0": {
                "element": "value",
                "units": "",
                "lower": "-5.0",
                "upper": "5.0"
        },
        "dz_global_0": {
                "element": "value",
                "units": "",
                "lower": "0.",
                "upper": "8.0"
        },
        "dthx_global_0": {
                "element": "value",
                "units": "",
                "lower": "-15.0",
                "upper": "15.0"
        },
        "dthy_global_0": {
                "element": "value",
                "units": "",
                "lower": "-15.",
                "upper": "15.0"
        },
        "dthz_global_0": {
                "element": "value",
                "units": "",
                "lower": "-15.",
                "upper": "15."
        }
    }
}